---
import BaseLayout from "../layout/BaseLayout.astro";
import Home from '../components/Home'
import siteData from '../site-data.json'
---

<BaseLayout title="Home Page" description="Esta es la página inicial">
  <div>
    <img
      class="w-full h-36 lg:h-full object-cover object-center"
      src={`/images/banner.jpg`}
      alt="banner"
    />
  </div>
  <!--  -->
  <Home data={siteData} client:load />
</BaseLayout>
